<nav class="navbar">

    <a href="#" class="logo">
        FR<span>.Sistemas</span>
    </a>

    <ul class="nav-links">

        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#tecnologias">Tecnologías</a></li>
        <li><a href="#proceso">Proceso</a></li>
        <li><a href="#contacto">Contacto</a></li>

    </ul>

    <a href="#contacto" class="nav-btn">
        Solicitar presupuesto
    </a>

    <div class="menu-toggle">
        ☰
    </div>

</nav>